!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      include ../includes/header
      .citycover-content.citycover-print
       .container.container-activate-gap
        .row
         div
          h1.bira-font.page-title Setting up a new Lassy
        .row.map_section
         div
          .bbox
           div
             form.contacts-form(action="/user/contacts", method="POST")
              span In addition to yourself, who else should be notified when your child goes off route.
              ul.contact-header
                li
                  span.contact-name.show Name:
                  span.contact-num.show Mobile Number:
                  span.contact-btn.show
              ul.contact-list
                li 
                  input(type="text", name="contactname-1", id="contactname-1", value="", placeholder="Type name here...", class="contact-name")
                  span.contact-name.hide
                  input(type="text", name="contactnum-1", id="contactnum-1", value="", placeholder="Type Mobile Number...", class="contact-num")
                  span.contact-num.hide
                  input.btn.btn-primary(type="button", id="contactbtn-1",value="Save & Add New Contact")
                  a.editlink-1.hide Edit Contact
              div
                input.btn.btn-warning.btn-large(type="submit", value="Next")
      include ../includes/footer

    
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    script(type='text/javascript', src='/js/jquery.maskedinput.min.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false')
    script(type='text/javascript', src='/js/contacts.js')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25468002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();