!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      include ../includes/header
      .citycover-content.citycover-print
       .container.container-gap
        div
          h1.bira-font Join the Village
          h4 Sign up in 30 seconds. No credit card required!
          - if(typeof(errors) == 'object' ){
            div.alert.alert-danger.signup-error
             ul
              each error in errors
               li.error #{error.type}
          - }
          form.signup-form(action="signup", method="POST")
            .control-group
              label.control-label Mobile Number:
              .controls
                input.phone(type="text", name="mobile", value="")
            .control-group
              label.control-label Zip Code:
              .controls
                input(type="text", name="zip")
            .control-group
              label.control-label Password:
              .controls
                input(type="password", name="pass")
            .form-actions
              input(type="submit", class="btn btn-primary", value="Create Account")
      .push
      include ../includes/footer
      include ../includes/foot